<div class="row">
  <div class="col-md-10"><h1>Hi {{vm.username}}</h1></div>
  <p class="col-md-2 text-right"><a href="#/login" class="btn btn-default btn-logout">Logout</a></p>
</div>
<h3>Projects</h3>
<a href="#/projects/add" class="btn btn-primary">Add new</a><br>
<br>
<div class="list-group">
  <div class="list-group-item" ng-repeat="project in vm.allProjects">
    <h4 class="list-group-item-heading">{{project.title}}</h4>
    <p class="list-group-item-text">
      <dl class="dl-horizontal">
        <dt>Description</dt><dd>{{project.description}}</dd>
      </dl>
      <a href="#/projects/{{project.pk}}/view" class="btn btn-primary">View</a>
    </p>
  </div>
</div>
